body {
    background-color: lightblue;
}
header > h1 {
    text-align: center;
    color: white;
}
section {
    padding: 30px;
    background-color: white;
    height: auto;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.451);
}
section > div#input > p {
    font-size: 1.3em;
    margin: 0px;
}
div#res {
    width: 200px;
    min-height: 220px;
    border: 1px solid black;
    padding-top: 0px;
    margin-top: 10px;
    text-indent: 10px;
}
footer {
    text-align: center;
    color: white;
    font-style: italic;
}